<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="logProvider" type="DNSProfileChecker.Common.Configuration.LogProviderConfig, DNSProfileChecker.Common"/>
	</configSections>

	<logProvider>
		<loggers>
			<logger name="debugLogger" type="DNSProfileChecker.UnitTest.DebugLogger, DNSProfileChecker.UnitTest" description="logger for unit test" />
		</loggers>
	</logProvider>

</configuration>