<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="logProvider" type="DNSProfileChecker.Common.Configuration.LogProviderConfig, DNSProfileChecker.Common" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="servicesProvider" type="Nuance.Radiology.DNSProfileChecker.Infrastructure.Configuration.ServiceProviderConfig, Nuance.Radiology.DNSProfileChecker" />
	</configSections>

	<logProvider>
		<loggers>
			<logger name="fileLogger" type="DNSProfileChecker.log4NetLogger.Log4NetLogger,DNSProfileChecker.log4NetLogger" description="log4net file logger" />
			<logger name="uiLogger" type="Nuance.Radiology.DNSProfileChecker.Infrastructure.Logger.UILogger, Nuance.Radiology.DNSProfileChecker" description="UI element logger" />
			<logger name="eventLogger" type="DNSProfileChecker.Common.Implementation.ErroredEventLoger, DNSProfileChecker.Common" description="Event Logger log" />
		</loggers>
	</logProvider>

	<log4net debug="false">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="LogData.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="3" />
			<maximumFileSize value="20MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
				<header value="========[START LOGGING AT %date{yyyy-MM-dd HH:mm}]======== " type="log4net.Util.PatternString" />
				<footer value="========[STOP LOGGING AT %date{yyyy-MM-dd HH:mm}]======== " type="log4net.Util.PatternString" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>

	<servicesProvider>
		<services>
			<service bind="DNSProfileChecker.Common.ILogProvider, DNSProfileChecker.Common" to="DNSProfileChecker.Common.Implementation.AppConfigLogProvider, DNSProfileChecker.Common" singleton="0" />

			<service bind="DNSProfileChecker.Common.IDNSSourceProvider, DNSProfileChecker.Common" to="Nuance.Radiology.DNSProfileChecker.Infrastructure.Providers.DNSProfilesProvider, Nuance.Radiology.DNSProfileChecker" singleton="0" />

			<service bind="DNSProfileChecker.Common.IWorkflowProvider, DNSProfileChecker.Common" to="DNSProfileChecker.Common.Implementation.XmlWorkflowProvider, DNSProfileChecker.Common" singleton="0" />

			<service bind="DNSProfileChecker.Common.IFileFactory, DNSProfileChecker.Common" to="DNSProfileChecker.Common.Factories.FileFactory, DNSProfileChecker.Common" singleton="1" />

			<service bind="DNSProfileChecker.Common.IProfileAssurance, DNSProfileChecker.Common" to="DNSProfileChecker.Common.Implementation.ProfileAssurance, DNSProfileChecker.Common" singleton="0" />
		</services>
	</servicesProvider>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>

	<appSettings>
		<!-- 500 Mb -->
		<add key="containerLimitSize" value="524288000" />
		<!-- 300 Mb -->
		<add key="endPruningThreshold" value="314572800"/>
		<add key="UILoggerSeverities" value="UI,Error,Fatal,Success" />
		<add key="reorderMethod" value="move"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
